
body { 
    background-color: rgb(116, 118, 121);
 }
 
 #registro {
     border: 2px solid blue;
 }

 .button {
     background-color: darkgreen;
     color: white;
     display: inline-block;
     font-size: 30px;
     text-align: center;
     width: 200px;
     text-decoration: none;
     font-family: monospace;
 }
 
 h3 {
     color: white;
    }

 .titulo {
     font-family: sans-serif;
     color: white;
 }
 form {
     text-align: center;
 }
 
 
 .Compu{
     display: block;
     margin: 0 auto;
 }